.App {
  text-align: center;
  display: flex; /* Use flexbox to allow child elements to grow or shrink */
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh; /* Ensure the app fills the full viewport height */
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250, 250, 250);
  flex-grow: 1;
  justify-content:top;
  min-height: 90vh;
  /* flex-grow: ; Allow the header to grow and fill available space */
  font-size: calc(8px + 1vmin);
  color: rgb(22, 21, 21);
  white-space: pre-wrap;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-top: 20px;
}

/* Add styles for the input box */
.input-box {
  display: flex; /* Establish this as a flex container */
  align-items:center; /* Center children horizontally */
  width: 85%; /* Full width */
  padding: 10px; /* Padding inside the input box */
  
}
.ingredient-box{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#5f6567;
 
  padding: 5px; /* Add some padding inside the input box */
}
.cuisine-box{
  color:#5f6567;
  font-family:Georgia, 'Times New Roman', Times, serif;
 
  padding: 5px; /* Add some padding inside the input box */
}
.serving-box{
  color:#5f6567;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 5px; /* Add some padding inside the input box */
}

/* .dietaryRestriction{
  font-size: 14px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 5px;
} */


.button{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction:row; 
  justify-items: auto; /* Center children vertically */
}
.button-submit{
  width: 180px;        
  height: 20px;       
  padding: 5px 10px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  
}
.empty-button{
  width: 180px;        
  height: 20px;       
  padding: 5px 10px;
  display:flex;
  align-items: center;
}

.copy-button{
  width: 180px;        
  height: 20px;       
  padding: 5px 10px;
  display:flex;
  align-items: center;
}

/* Style the container for input */
.recipe-generation-output {
  font-size: 14px;
  padding: 5px;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  white-space: pre-wrap;
  line-height: 1.5;
  text-align: left;
  justify-content: center;
  align-items: center;
  display:flex;
}

* {
  box-sizing: border-box;
  padding: 0;

  
}
.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}